// COLORS

$color-white: #FFF;

$color-gray-1: #F7F7F7;
$color-gray-3: #D4D4D4;
$color-gray-4: #B8B8B8;
$color-gray-5: #525C60;

$color-body: #274C5B;

$color-primary: #7EB693;
$color-secondary: #FFA858;

$color-testimonials: #FCFCFC;


// FONT

$font-primary: 'Roboto', sans-serif;
$font-secondary:'Yellowtail';
